[data-theme="dark"] {
  --surface: hsl(var(--hue), 64%, 6%);
  --surface24: hsl(var(--hue), 80%, 8%, 0.24);
  --primary: hsl(var(--hue), 28%, 90%);
  --code: hsl(var(--hue), 28%, 70%);
  --secondary: hsl(var(--hue), 78%, 34%);
  --tertiary: hsl(var(--hue), 78%, 24%);
  --backgroundTransparent: hsl(var(--hue), 90%, 6%, 0.8);
  --buttonbg: var(--primary);

  

  h1 {
    text-shadow: hsl(var(--hue), 78%, 4%) 0 0 4px;
    
  }
  h2, h3, h4, h5, h6 {
    color: var(--primary)!important;
  }
  a {
    color: var(--primary);
  }
  pre code{
    color: var(--code);
  }

  
  select {
	background-image: url('$lib/images/keyboard_arrow_down_dark.svg');
  }
  .custom-file-upload{
	background-image: url('$lib/images/attach_dark.svg');

  }


  
  .textarea-container .fakeTextarea:empty::before {
    content: "Hello...";
    color: var(--primary);
    opacity: 0.5;
  }
  .custom-file-upload {
    background: transparent url($lib/images/attach_dark.svg) no-repeat center center;
  }

  #settings {
    background-color: var(--surface24)!important;
    backdrop-filter: blur(20px) brightness(0.5);
    ul li span {
      color: var(--primary);
    }
    ul li:has(button:hover) span {
      color: var(--primary);
    }
    ul li:hover {
      background-color: var(--surface24);

      button {
        /* background-image: none!important; */
      }
      
    }
  }

}