[data-theme="dark"] {
  --surface: hsl(var(--hue), 64%, 8%);
  --primary: hsl(var(--hue), 28%, 90%);
  --code: hsl(var(--hue), 28%, 70%);
  --secondary: hsl(var(--hue), 78%, 34%);
  --tertiary: hsl(var(--hue), 78%, 24%);
  --backgroundTransparent: hsl(var(--hue), 90%, 6%, 0.8);
  --buttonbg: var(--primary);

  

  h1 {
    text-shadow: hsl(var(--hue), 78%, 4%) 0 0 4px;
    
  }
  h2, h3, h4, h5, h6 {
    color: var(--primary)!important;
  }
  a {
    color: gold;
  }
  pre code{
    color: var(--code);
  }

  
  select {
	background-image: url('$lib/images/keyboard_arrow_down_dark.svg');
  }
  .custom-file-upload{
	background-image: url('$lib/images/attach_dark.svg');

  }

  button {
    
    color: var(--surface) !important;
    background-image: url('$lib/images/arrow-up_dark.svg')!important;
	
  }
  button:hover {
    box-shadow: 0 0 12px 0 hsl(var(--hue), 98%, 74%);
  }
  #buttonWrap button#stopBtn {
    background-image: url("$lib/images/stop_dark.svg")!important;
	color: var(--primary)!important;
  box-shadow: 0 0 12px 0 hsl(var(--hue), 98%, 54%);
  }
  .textarea-container .fakeTextarea:empty::before {
    content: "Hello...";
    color: var(--primary);
    opacity: 0.5;
  }

}