:root {

	--hue: 290;
	--surface: hsl(var(--hue), 78%, 96%);

	--primary: hsl(var(--hue), 60%, 6%);
	--secondary: hsl(var(--hue), 48%, 25%);
	--tertiary: hsl(var(--hue), 37%, 78%);

	--primary-dark: hsl(var(--hue), 78%, 2%);

	--boxShadow: inset 0 0 12px 0 hsl(var(--hue), 32%, 32%);
	--shadow1: 1px 1px 0px 0px rgba(0,0,0,1);

	--link: var(--secondary);
	--linkDark: hsl(103, 14%, 10%);
	--buttonbg: var(--primary);
	--buttonShadow: var(--primary-dark);
	--buttonHover:var(--primary-dark);

	/* --headlineFamily: "Young Serif", serif; */
	--bodyFamily: "Outfit",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	;
	--headlineFamily: system-ui;
	
	--borderRadiusMD: 1rem;
	--borderRadiusSM: .75rem;
	--borderRadiusXS: .625rem;

	--easeOutLong:cubic-bezier(.15,.16,.21,.99);

}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--surface);
	
	font-family: var(--bodyFamily);
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;
	color: var(--primary);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

pre {
	padding:1rem;
	border: 1px solid var(--tertiary);
	border-radius: var(--borderRadiusSM);
	background-color: #ffffff33;
	padding-right: 2rem;

	button.copy-button {
		font-size: .875rem;
		padding: .25rem .5rem;
		background: transparent;
		border-radius: .5rem;
		position: absolute;
		top: 8px;
		font-weight: 500;
		right: 8px;
		border: 1px solid var(--secondary);

	}

}

button:focus-visible,
select:focus-visible {
	transition: outline-offset 0.25s var(--easeOutLong);
  	outline: 2px dotted var(--buttonbg);
  	outline-offset: 3px;
}


.wrapper {
	width: 100%;
}

header {
	padding: 0.5rem 1.5rem;
	margin: 0;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	/* background: rgba(0,0,0,.1); */
	border-bottom: 1px solid var(--secondary);
	


	h1 {
		font-size: 2.5em;
		font-weight: 700;
		line-height: 2.5rem;
		margin: 0;
		color: var(--primary);
		font-family: var(--bodyFamily);
		letter-spacing: -0.02em;
		padding: 1rem 0;
		display: flex;
		/* width: 25%; */
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		gap: .75rem;
		img {
			width: 40px;
			height:40px;
		}
	}
	#weather {
		display: flex;
		/* flex-grow: 1; */
		width: 33%;
		align-items: center;
		justify-content: flex-start;
		background: transparent  url('$lib/images/weather/sunny.svg') no-repeat left center;
		background-size: 24px;
		padding:0 2rem;
		box-sizing: border-box;

	}
	.input-vertical {
		display: flex;
		width: 33%;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	
		label {
			color: var(--secondary);
			line-height: 1.5rem;
		}
	}

}

main {
	/* width: 50ch; */

	/* max-width:64ch; */
	display: flex;
	width: 100%;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	position: relative;
	
}


section {
	box-sizing: border-box;
	margin: 1rem 0;
	padding: 0 2rem;
	width: 100%;
	max-width: 80ch;
}

#chat-container {
	display: flex;
	padding: 2rem 0;
	flex-grow: 1;
	justify-content: center;
	width: 100%;
	/* -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 12px);
	mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 2px, rgba(0, 0, 0, 1) 12px); */
	overflow-y: scroll;
	scroll-behavior: smooth;


}

#settings {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	width: 30%;
	padding: 0rem 0 2rem 0;
	overflow-y: auto;
	border-left: 1px solid var(--secondary);
}
strong {
	font-weight: 600;
}

.col {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0rem 0 2rem 0;
	width: 100%;
	flex-grow: 1;
	overflow-y: auto;
}

.loaderContainer {
	display: flex;
	max-width: 92ch;
	margin: 0;

	padding: 0rem 3.5rem 0;
}



a,
.highlighted {

	color: var(--link);
	text-decoration: .2em dotted underline;
	text-decoration-thickness: .12em;
	text-underline-offset: 0.35em;
	text-decoration-skip-ink: none;
	/* text-decoration: .2rem #646cff dotted underline; */
}

a:hover,
.highlighted:hover {
	color: var(--linkDark);
	text-decoration: .1em solid underline;
	cursor: pointer;

}

pre {
	white-space: pre-wrap;
	/* Since CSS 2.1 */
}







p.subtitle {
	font-size: 1.5rem;
}

p,
ol,ul {
	margin-top: .25rem;
	font-size: 1.25rem;
	line-height: 170%;
	color: var(--primary);

}

ol {
	margin-top: 0rem;
	margin-left: 2rem;
}

ol li {
	
	padding-left: .5rem;

}
hr {
	border:0;
	border-bottom: 1px solid var(--tertiary);
	border-image: none;
}

.input {
	display: flex;
	flex-direction: column;

	label {
		color: var(--secondary);
		line-height: 1.5rem;
		padding-bottom: .25rem;
	}
}





select {
	padding: 0 2.75rem 0 1.5rem;
	border: 0;
	min-height: 2.5rem;
	line-height: 2.5rem;
	font-size: 1rem;
	color: var(--primary);
	border: 1px solid var(--secondary);
	border-radius: 2rem;
	font-family: var(--bodyFamily);
	background-color: transparent;
	background-image: url('$lib/images/arrow-down.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - .125rem) center;
	background-size: 48px;
	-moz-appearance: none;
	/* Firefox */
	-webkit-appearance: none;
	/* Safari and Chrome */
	appearance: none;

}


select:hover {
	cursor: pointer;
	box-shadow: 2px 2px 0 0 var(--primary);
	transform: translate(-1px, -1px);
	background-color: white;
	transition: border-width .1s ease-in-out, box-shadow .1s ease-in-out;
}

.response {

	background-color: transparent;
	font-weight: 300;
	

	.SD_img {
		width: 47%;
		/* max-width: 480px; */
		height: auto;
		margin-block-end: 1rem;
		margin-inline-end: 1rem;
		border-radius: 4px;
		box-sizing: border-box;
		box-shadow: 0 0 0 12px white;

	}
	> *:last-child:not(img){
		padding-block-end: 2rem;
	}




}


#userinput {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 2rem 3.5rem 0;
	border-top: 1px solid var(--secondary);
	/* box-shadow: 0 0 12px 2px var(--tertiary); */
	margin: 0;
	box-sizing: border-box;
	position: relative;


	


}
.halftone {
	--dotSize: 1px;
	--bgSize: .75rem;
	--bgPosition: calc(var(--bgSize) / 2);
  
	background-image: radial-gradient(
		circle at center,
		black var(--dotSize),
		transparent 0
	  ), radial-gradient(circle at center, black var(--dotSize), transparent 0);
	background-size: var(--bgSize) var(--bgSize);
	background-position: 0 0, var(--bgPosition) var(--bgPosition);
  }


.combotext {
	display: flex;
	max-width: 80ch;
	flex-direction: row;
	border: 1px solid var(--secondary);
	border-radius: 4rem;
	/* box-shadow: var(--boxShadow); */
	padding: .5rem .5rem .5rem .75rem;
	width: 100%;
	gap: .25rem;
	flex-grow: 1;
	/* width: 100%; */
	align-items: center;
	background-color: var(--surface);
	position: relative;

	.input {
		display: flex;
		flex-direction: column;

		label {
			color: var(--secondary);
			line-height: 1.5rem;
			padding-bottom: .25rem;
		}
	}

	.input-vertical {
		display: flex;
		flex-direction: row;
		align-items: center;

		label {
			color: var(--secondary);
			line-height: 1.25rem;
		}
	}
	



	.textarea-container {
		display: flex;
		flex-grow: 1;
		flex-direction: row;
		padding: 0;
		justify-content: center;
		align-items: flex-start;

		.fakeTextarea {
			/* border: 1px solid gray; */
			padding: .75rem 0 .75rem .5rem;
			margin: 0;
			resize: none;
			overflow: auto;
			border-radius: 0.25rem;
			line-height: 1.5rem;
			min-height: 1rem;
			display: flex;
			flex-grow: 1;
			font-size: 1.25rem;
			/* background-color: white; */
		}

		.fakeTextarea:empty::before {
			content: 'Hello...';
			color: var(--secondary);
		}

		.fakeTextarea:focus-visible {
			outline: none;
		}

		mark,
		i,
		ins,
		em,
		.changed {
			border: none;
			text-decoration: #230674 dotted underline;
			font-style: normal;
			text-decoration-thickness: 0.17rem;
			background-color: #f1e7fef6;
			text-underline-offset: 0.25rem;
			text-decoration-skip-ink: none;
			padding: 0 .1rem;
		}


	}
	#thumbnails {
		display: flex;
		flex-direction: row;
		gap:4px;
	}

	#thumbnails img {
		height: 44px;
		border-radius: .25rem;
		box-shadow: 0 0 0 2px white;
	}
	

}

.combotext:has(textarea:focus) {
	border-width: 2px;
}


.visualhide {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Styling the label to look like a button */

.custom-file-upload {
	display: flex;
	padding: 1.375rem;
	cursor: pointer;
	background: transparent url($lib/images/attach.svg) no-repeat center center;
	background-size: 32px;
	color: white;
	border-radius: 5rem;
	box-shadow: 0 0 0 0 var(--buttonbg);
	transition: box-shadow cubic-bezier(0.39, 0.575, 0.565, 1) .2s;

}

/* Adding hover effect for the label/button */
.custom-file-upload:hover {
	box-shadow: 0 0 0 2px var(--buttonbg);
	/* outline: 2px solid var(--buttonbg); */
	background-color: white;
}

/* Hide the default file input */
input[type="file"] {
	display: none;
}


.prompt,
.email.preview {

	background-color: antiquewhite;
	border-radius: 1rem 1rem 0 1rem;
	border: 1px solid var(--tertiary);
	padding: 1.25rem 3rem 1.25rem 3rem;
	background: transparent url('$lib/images/sparkles_24.svg') no-repeat 12px 26px;
	background-size: 24px;
	animation: fadeInAnimation ease .5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	/* p:first-of-type {
	  color: var(--secondary);
	} */
}

.email.preview {
	padding-top: 1.625rem;
	color: var(--secondary);

	strong {
		color: var(--primary)
	}

	.cta {
		border-bottom: 1px solid white;
		padding-bottom: 1.25rem;
	}
}

.subject {
	padding-top: 1.5rem;
}


.email.preview:before {
	content: 'Email preview';
	font-weight: bold;

}

.userAnswer {
	display: flex;
	flex-direction: column;
	background-color: var(--tertiary);
	text-align: left;
	padding: 1.25rem 3rem 1.5rem 3rem;
	margin: 2rem 0;
	border-radius: 1rem 1rem 1rem 0;
	background: var(--tertiary) url('$lib/images/mood.svg') no-repeat 12px 22px;
	background-size: 24px;
	min-width: 24ch;
	animation: fadeInAnimation ease .5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	small {
		line-height: 1.75rem;
		font-weight: bold;
		color: var(--secondary);
	}
}




@keyframes fadeInAnimation {
	0% {
		opacity: 0;
		transform: translateY(10px)
	}

	100% {
		opacity: 1;
		transform: translateY(0px)
	}
}


.grade {
	/* border: 1px solid #1d0087; */
	padding: .25rem 1rem;
	display: inline-flex;
	border-radius: 5rem;
	color: var(--secondary);
	border: 1px solid var(--tertiary);

	line-height: 2rem;
}

.suggested {

	border-radius: 2rem 4rem 2rem 0;
	/* box-shadow: inset 0 0 8px 0 #180070; */
	padding: 5rem 2.5rem 1.75rem 3.25rem;
	border: none;
	/* background: var(--tertiary); */
	margin: 2rem 0;
	overflow: visible;
	background: var(--tertiary) url('$lib/images/sparkles_24.svg') no-repeat 20px 40px;
	background-size: 3%;
	position: relative;


	p {
		margin-top: 1rem;
		display: inline-flex;
		line-height: 140%;
		background: transparent;
		border: 1px solid violet;
		color: rgb(255, 213, 255);
		transition: all ease-in-out .2s;
		margin-bottom: .5rem;
	}


	li {
		list-style-type: none;
		list-style: none;
	}

	.actions {
		display: flex;
		gap: .5rem;
		padding-top: 1rem;

		button {
			background-image: none;
			background-color: transparent;
			padding: 0 1rem;
			font-size: 1rem;
			width: auto;
			border: 1px solid var(--secondary);
			box-shadow: none;
		}

		button:hover {
			background-color: var(--surface);
		}



		p:active {
			background: rgba(255, 255, 255, .1);
			transform: scale(.98);
		}
	}
}

.suggested:before {
	content: "Suggested prompt:";
	top: 36px;
	font-weight: 700;
	position: absolute;


}


.modelInfo {
	font-size: .875rem;
	margin:0;
	line-height: 1rem;
	background-color: var(--surface);
	margin: .75rem 0 1rem 0;
	padding:0 .25rem;

	
}

.hide {
	display: none !important;
}






.pulseit {
	animation: pulse .75s infinite ease-in-out;
	outline: none !important;
	transition: all .5s cubic-bezier(.67, -0.04, .31, 1.04);
}

@keyframes pulse {
	0% {
		/* box-shadow: 0 0 0 2px white, 0 0 1px 0px whitesmoke; */
		cursor: not-allowed;
	}

	50% {
		/* box-shadow: 0 0 0 2px white, 0 0 8px 2px coral; */
	}

	100% {
		/* box-shadow: 0 0 0 2px white, 0 0 1px 0px whitesmoke; */
		cursor: not-allowed;
	}

}

.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 1.75em;
	height: 1.75em;
	animation-fill-mode: both;
	animation: bblFadInOut 1s infinite ease-in-out;
}

.loader {
	color: coral;
	font-size: 7px;
	position: relative;
	text-indent: -9999em;
	transform: translateZ(0);
	animation-delay: -0.25s;
}

.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}

.loader:before {
	left: -3.5em;
	animation-delay: -0.5s;
}

.loader:after {
	left: 3.5em;
}

@keyframes bblFadInOut {

	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em
	}

	40% {
		box-shadow: 0 2.5em 0 0;

	}
}

.warm-transition {
	background-color: var(--surface);
	transition: background-color 5s ease;
}

.warm-transition:hover {
	background-color: #FFE5B4; /* Peach */
}

.warm-transition:active {
	background-color: #FFCCCB; /* Light Red */
}

@keyframes warmColorCycle {
	0% { --surfaceColor: #fff9ed; } /* Peach */
	33% { --surfaceColor: #fffdf3; } /* Gold */
	66% { --surfaceColor: #fff1eb; } /* Light Salmon */
	100% { --surfaceColor: #fff8eb; } /* Back to Peach */
}

.warm-color-animation {
	animation: warmColorCycle 15s infinite;
}



