:root {
  --hue: 260;
  --surface: hsl(var(--hue), 80%, 94%);
  --surface24: hsl(var(--hue), 80%, 94%,.24);
  --backgroundTransparent: hsl(var(--hue), 80%, 96%, 0.44);
  --primary: hsl(var(--hue), 60%, 6%);
  --secondary: hsl(var(--hue), 48%, 25%);
  --tertiary: hsl(var(--hue), 37%, 78%);
  --transparent24: hsl(var(--hue), 100%, 96%, 0.54);

  --primary-dark: hsl(var(--hue), 78%, 2%);

  --boxShadow: inset 0 0 12px 0 hsl(var(--hue), 32%, 32%);
  --shadow1: 1px 1px 0px 0px rgba(0, 0, 0, 1);

  --link: var(--primary);
  --linkDark: hsl(0, 14%, 10%);
  --buttonbg: var(--primary);
  --buttonShadow: var(--primary-dark);
  --buttonHover: var(--primary-dark);

  /* --headlineFamily: "Young Serif", serif; */
  --bodyFamily: "Outfit", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --headlineFamily: system-ui;

  --borderRadiusMD: 1rem;
  --borderRadiusSM: 0.75rem;
  --borderRadiusXS: 0.625rem;

  --easeOutLong: cubic-bezier(0.15, 0.16, 0.21, 0.99);
}
svg {
  fill: currentColor;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  font-size:16px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  font-family: var(--bodyFamily);
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--primary);
  background-color: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color ease-in-out 0.3s, background-color ease-in-out 0.2s;
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.375rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
strong {
  font-weight: 500;
}
h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 0.5rem 0;
}

a,
.highlighted {
  color: var(--link);
  text-decoration-thickness: 0.1em;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-skip-ink: none;
  /* text-decoration: .2rem #646cff dotted underline; */
}
a:hover {
  text-decoration-thickness: 0.2em;
  font-weight: 500;
}
p.subtitle {
  font-size: 1.5rem;
}

p,s
ol,
ul {
  margin:0;
  line-height: 2rem;
  margin-block-end: 1rem;
  ul {
    margin-block-start: 0.5rem;
  }
}
ol, ul {
  margin-block-start: -0.25rem;
}
ol li {
  padding-left: 1rem;
  
}
li {
  margin-block-end: 0.25rem;
}
small {
  font-size: 1rem;
}
hr {
  border: 0;
  border-bottom: 1px solid var(--tertiary);
  border-image: none;
}

pre {
  padding: 1.5rem;
  color: var(--secondary);
  border: 1px solid var(--tertiary);
  border-radius: var(--borderRadiusSM);
  background-color: var(--backgroundTransparent);
  padding-right: 2rem;
  margin-block-end: 1.5rem;
  box-sizing: border-box;
  position: relative;
  white-space: pre-wrap;
  font-size: 1rem;
  button.copy-button {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    background: transparent;
    border-radius: 0.5rem;
    position: absolute;
    top: 8px;
    font-weight: 500;
    right: 8px;
    border: 1px solid var(--secondary);
  }
}


select:focus-visible {
  /* transition: outline-offset 0.25s var(--easeOutLong);
  outline: 2px dotted var(--secondary);
  outline-offset: 3px; */
  outline: 2px solid var(--secondary);
}


header {
  padding: 0 1.5rem;
  margin: 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  /* background: rgba(0,0,0,.1); */
  border-bottom: 1px solid var(--secondary);
  background-color: var(--surface);

  h1 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 2.5rem;
    margin: 0;
    font-family: var(--bodyFamily);
    letter-spacing: -0.02em;
    padding: 1.75rem 0 1.75rem 0;
    display: flex;
    /* width: 25%; */
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    cursor: default;

    transition: letter-spacing ease-in-out 0.2s;
    img {
      width: 40px;
      height: 40px;
    }
  }
 


  #weather {
    display: flex;
    /* flex-grow: 1; */
    width: 25%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    background-size: 24px;
    padding:.125rem 0 0 0;
    line-height: 1.4rem;
    color: var(--primary);
    box-sizing: border-box;
    font-size: 1rem;

    span {
      white-space: nowrap;
      overflow: hidden;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    .weather-icon {
      width: 24px;
      height: 24px;
      mask: url("$lib/images/weather/sunny.svg") no-repeat center;
      background-color: currentColor;
      margin-inline-end: 0.375rem;
    }
    .weather-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-grow: 1;
      padding-left: 0.25rem;
      color: var(--secondary);
    }
  }
  .input-vertical {
    display: flex;
    width: 25%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    label {
      color: var(--secondary);
      line-height: 1.5rem;
    }
  }
}

main {
  /* width: 50ch; */

  /* max-width:64ch; */
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  position: relative;
}

section {
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 0 2rem;
  width: 100%;
  max-width: 80ch;
}

#chat-container {
  display: flex;
  padding: 2rem;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: var(--surface);
  position: relative;
  box-sizing: border-box;
    
    h2.userMsg {
      color: var(--primary);
      padding: 1.75rem 0rem 2rem 0;
      line-height: 1.75rem;
      display: flex;
      flex: 1 0 auto;
      font-size: 1.25rem;
      font-weight: 300;
      margin-block-end: 1.75rem;
      margin-block-start:1.5rem;
      /* border-bottom: 2px dotted var(--tertiary);
      border-top: 2px dotted var(--tertiary); */
      min-width: 4ch;
     justify-content: flex-start;
     position: relative;
   
      
    }
}

#chat-container  h2.userMsg:before {
  content: "C";
  color: var(--secondary);
  background-color: white;
  font-weight: 400;
  width: 1.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  border-radius: 1rem;
  font-weight: 400;
  font-size: .875rem;
  position: absolute;
  left: -2.375rem;
  top:1.75rem;
} 
#chat-container  h2.userMsg:after {
  content: "🦙";
  color: var(--primary);
  font-weight: 400;
  /* background: var(--tertiary) url("$lib/images/machine.svg") no-repeat center;
  background-size: 1.25rem; */
  background-color: var(--secondary);
  border-radius: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: .75rem;
  text-align: center;
  position: absolute;
  left:-2.375rem;
  bottom:-3.625rem;
} 

#settings {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(16px);
  background-color: var(--surface24);
  height: 100%;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;

  .settings-content {
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    padding:0;
    background-color: var(--surface);
    border: 1px solid var(--secondary);
    border-radius: .5rem;
    overflow: auto;
  }
  .header {
    position: sticky;
    top: 0;
    background-color: var(--surface);
  }
  h2 {
    font-size: 1.25rem;
    margin: 0;
    padding: 1rem 0;
    
  }
  ul {
    margin: 0;
    padding: 0 3rem;
  }
  ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 1rem;
    padding:.75rem 0;
    margin: 0;
    border-bottom: 1px solid var(--tertiary);
  }
  ul li:last-child {
    border-bottom: none;
    padding-bottom: 2rem;
  }
}


.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0rem 0 2rem 0;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.loaderContainer {
  display: flex;
  max-width: 92ch;
  margin: 0;

  padding: 0rem 3.5rem 0;
}



a:hover,
.highlighted:hover {
  color: var(--link);
  text-decoration: 0.1em solid underline;
  cursor: pointer;
}








.input {
  display: flex;
  flex-direction: column;

  label {
    color: var(--secondary);
    line-height: 1.5rem;
    padding-bottom: 0.25rem;
  }
}

select {
  padding: 0 2.75rem 0 1.5rem;
  border: 0;
  min-height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  color: var(--primary);
  border: 1px solid var(--secondary);
  border-radius: 2rem;
  font-family: var(--bodyFamily);
  background-color: transparent;
  background-image: url("$lib/images/keyboard_arrow_down.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75rem) center;
  background-size: 24px;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

select:hover {
  cursor: pointer;
  box-shadow: 2px 2px 0 0 var(--secondary);
  transform: translate(-1px, -1px);
  background-color: var(--surface);
  transition: border-width 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

button.basic {
  font-family: var(--bodyFamily);
  border: 1px solid var(--secondary);
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  font-size: .875rem;
  color: var(--primary);
  background-color: transparent;
}
button.basic:hover {
  background-color: var(--tertiary);
  background-image: none;
  color: var(--primary);
  box-shadow: none;
}
button.icon {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.response {
  background-color: transparent;
  font-weight: 300;
  max-width:64ch;

  .SD_img {
    width: 47%;
    /* max-width: 480px; */
    height: auto;
    margin-block-end: 1rem;
    margin-inline-end: 1rem;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 0 12px white;
  }
  
}
.response:last-child::after {
  margin-block-end: 2rem;
  content: " end ";
  color:transparent;
}


#userinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 3.5rem 0;
  border-top: 1px solid var(--secondary);
  /* box-shadow: 0 0 12px 2px var(--tertiary); */
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: var(--surface);
}
.halftone {
  --dotSize: 1px;
  --bgSize: .5rem;
  --bgPosition: calc(var(--bgSize) / 2);

  background-image: radial-gradient(
      circle at center,
      var(--secondary) var(--dotSize),
      transparent 0
    ),
    radial-gradient(
      circle at center,
      var(--secondary) var(--dotSize),
      transparent 0
    );
  background-size: var(--bgSize) var(--bgSize);
  background-position: 0 0, var(--bgPosition) var(--bgPosition);
}

.combotext {
  display: flex;
  max-width: 64ch;
  flex-direction: row;
  border: 1px solid var(--secondary);
  border-radius: 4rem;
  /* box-shadow: var(--boxShadow); */
  padding: 0.5rem 0.625rem 0.5rem 0.75rem;
  width: 100%;
  gap: 0.25rem;
  flex-grow: 1;
  /* width: 100%; */
  align-items: center;
  background-color: var(--surface);
  position: relative;
  z-index: 0;
  box-shadow: 0 0 0 1px var(--surface);
  transition: box-shadow 0.25s ease-in-out;

  .input {
    display: flex;
    flex-direction: column;

    label {
      color: var(--secondary);
      line-height: 1.5rem;
      padding-bottom: 0.25rem;
    }
  }

  .input-vertical {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      color: var(--secondary);
      line-height: 1.25rem;
    }
  }

  .textarea-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    align-items: flex-start;

    .fakeTextarea {
      /* border: 1px solid gray; */
      padding: 0.75rem 0 0.75rem 0.5rem;
      margin: 0;
      resize: none;
      overflow: auto;
      border-radius: 0.25rem;
      line-height: 1.5rem;
      min-height: 1rem;
      display: flex;
      flex-grow: 1;
      font-size: 1.25rem;
     
      /* background-color: white; */
    }

    .fakeTextarea:empty::before {
      content: "Hello...";
      color: var(--secondary);
    }

    .fakeTextarea:focus-visible {
      outline: none;
    }

    mark,
    i,
    ins,
    em,
    .changed {
      border: none;
      text-decoration: #230674 dotted underline;
      font-style: normal;
      text-decoration-thickness: 0.17rem;
      background-color: #f1e7fef6;
      text-underline-offset: 0.25rem;
      text-decoration-skip-ink: none;
      padding: 0 0.1rem;
    }
  }
  #thumbnails {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  #thumbnails img {
    height: 44px;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 2px white;
  }
}

.combotext:has(.textarea-container:focus-within) {
  box-shadow: 0 0 0 1px var(--secondary);
}

.visualhide {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Styling the label to look like a button */

.custom-file-upload {
  display: flex;
  padding: 1.375rem;
  cursor: pointer;
  background: transparent url($lib/images/attach.svg) no-repeat center center;
  background-size: 32px;
  color: white;
  border-radius: 5rem;
  box-shadow: 0 0 0 0 var(--buttonbg);
  transition: box-shadow cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
}

/* Adding hover effect for the label/button */
.custom-file-upload:hover {
  box-shadow: 0 0 0 2px var(--buttonbg);
  /* outline: 2px solid var(--buttonbg); */
  background-color: white;
}

/* Hide the default file input */
input[type="file"] {
  display: none;
}

.prompt,
.email.preview {
  background-color: antiquewhite;
  border-radius: 1rem 1rem 0 1rem;
  border: 1px solid var(--tertiary);
  padding: 1.25rem 3rem 1.25rem 3rem;
  background: transparent url("$lib/images/sparkles_24.svg") no-repeat 12px 26px;
  background-size: 24px;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  /* p:first-of-type {
	  color: var(--secondary);
	} */
}

.email.preview {
  padding-top: 1.625rem;
  color: var(--secondary);

  strong {
    color: var(--primary);
  }

  .cta {
    border-bottom: 1px solid white;
    padding-bottom: 1.25rem;
  }
}

.subject {
  padding-top: 1.5rem;
}

.email.preview:before {
  content: "Email preview";
  font-weight: bold;
}

.userAnswer {
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary);
  text-align: left;
  padding: 1.25rem 3rem 1.5rem 3rem;
  margin: 2rem 0;
  border-radius: 1rem 1rem 1rem 0;
  background: var(--tertiary) url("$lib/images/mood.svg") no-repeat 12px 22px;
  background-size: 24px;
  min-width: 24ch;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  

  small {
    line-height: 1.75rem;
    font-weight: bold;
    color: var(--secondary);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modelInfo {
  font-size: 0.875rem;
  margin: 0;
  line-height: 1rem;
  background-color: var(--surface);
  margin: 0.75rem 0 ;
  padding: 0.375rem 0.5rem;
}

.hide {
  display: none !important;
}

/* title bar styles */
.fadeIn {
  animation: fadeIn 0.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  opacity: 0;
  
}
.fadeOut {
  animation: fadeOut 0.35s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
